body {
    background-color: #FFFAF9
}

// #main-header {
// height: 100px;
// background-color: #FFFFFF;
// display:flex;
// justify-content: space-between;
// font-family: 'Poiret One', cursive;
// }

.menu
{
    width: 396px;
    display:flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-right: 20px;
    font-size: 20px;
    color: #8E8E93;
}

.menu li:hover{
    color: #F7CCC8;
}

// #logo
// {
//   font-size: 60px;
//   color: #8E8E93;
//   padding-bottom: 10px;
//   display:flex;
//   align-items: flex-end;
// }

.logoicon {
    // position: fixed;
    width: 61px;
    height: 61px;
    padding-left: 0px;
}

.hero {
    height: 80vh;
    display: flex;
    flex-direction: column;
    font-family: 'Poiret One', cursive;
    color: #8E8E93;
    padding: 80px 80px 0 80px;
    justify-content: center;
    position: relative;

}

.shape:hover {
    transform: scale(1.4);
}

.aquacircle {
    position: absolute;
    right: 30vw;
    bottom: 70vh;
    transition: all 1.3s;
}

.bigtrianglelight {
    position: absolute;
    opacity: .7;
    right: 10vw;
    bottom: 50vh;
    transition: all 1.3s;
}

.bigtriangledark {
    position: absolute;
    opacity: .7;
    right: 27vw;
    bottom: 30vh;
    transition: all 1.3s;
}


.smalltrianglelight {
    position: absolute;
    opacity: .7;
    right: 17vw;
    bottom: 15vh;
    transition: all 1.3s;
}

.smalltriangledark {
    position: absolute;
    opacity: .7;
    left: 5vw;
    top: 60vh;
    transition: all 1.3s;
}

.smallrectangleyellow {
    position: absolute;
    opacity: .8;
    left: 14vw;
    top: 50vh;
    transition: all 1.3s;
}


.hero h1 {
  font-size: 50px;
  color: #8E8E93;
  padding-bottom: 10px;
}

.hero h2 {
    font-size: 25px;
    color: #8E8E93;
    line-height: 60px;
  }

.projectbox {
    height: 90vh;
    background-color: #FFFFFF;
    margin-bottom: 90px;
}

.wellnessphoto {
    height: 70vh;
    background-image: url(./../img/wellnessphoto.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
    transition: all .2s linear; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.wellnessphoto:hover{
    background-image: url(./../img/Hover.svg);
    transition: all .2s linear;
}

.trendsphoto {
    height: 70vh;
    background-image: url(./../img/phototrends.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
    transition: all .2s linear; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.trendsphoto:hover{
    background-image: url(./../img/Hover.svg);
    transition: all .2s linear;
}

.finalprojectphoto {
    height: 70vh;
    background-image: url(./../img/photofinal.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
    transition: all .2s linear; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.finalprojectphoto:hover{
    background-image: url(./../img/Hover.svg);
    transition: all .2s linear;
}

p {
    font-size: 16px;
    color: #8E8E93;
    font-family: 'Montserrat', sans-serif;
    line-height: 20px;
}

.project-text {
    font-family: 'Poiret One', cursive;
    font-size: 22px;
    color: #8E8E93;
    padding-top: 50px;
    padding-left: 80px;
    padding-right: 5vw;
}

.project-text h3 {
    padding-bottom: 20px;
}

.link {
    text-decoration: none;
    color: #8E8E93;
}

#footer {
    font-family: 'Montserrat', sans-serif;
    display:flex;
    justify-content: center;
}

#footer-links {
    padding-bottom: 40px;
}

.readmorebutton {
    height: 100px;
    width: 400px;
    font-family: 'Poiret One', 'open sans';
    font-size: 22px;
    text-decoration: none;
    letter-spacing: 4px;
    color:#ffffff;
    border-radius: 4px;
    border: 2px solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wellnessphoto a.label:after{
    content: 'CASE STUDY';
}

.wellnessphoto:hover a.label:after{
    content: 'READ MORE';
}

.trendsphoto a.label:after{
    content: 'CASE STUDY';
}

.trendsphoto:hover a.label:after{
    content: 'READ MORE';
}

.finalprojectphoto a.label:after{
    content: 'CASE STUDY';
}

.finalprojectphoto:hover a.label:after{
    content: 'READ MORE';
}

#heart {
    font-size: 10px;
}


.downarrow {
    // display: flex;
    // margin-top: 40vh;
    cursor: pointer;
}

.arrowwrapper {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.animated {
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
  } 
  
  @-webkit-keyframes bounce {
    0%, 20%, 40%, 60%, 80%, 100% {-webkit-transform: translateY(0);}
    50% {-webkit-transform: translateY(-5px);}
  } 
  
  @keyframes bounce { 
    0%, 20%, 40%, 60%, 80%, 100% {transform: translateY(0);}
    50% {transform: translateY(-5px);}
  } 
  
  .bounce { 
    -webkit-animation-name: bounce;
    animation-name: bounce;
  }




$--color-grey: #939393;
$--color-black: #8E8E93;
$--transition: all .2s ease-out;
$--transition-mid: all .4s ease-out;
$--transition-lg: all .8s ease-out;
$--shadow: 0px 4px 12px -6px rgba(0,0,0,0.2);


.main-header {
height: 100px;
background-color: #FFFFFF;
display:flex;
justify-content: space-between;
font-family: 'Poiret One', cursive;
    
  &__wrapper {
    height: 100px;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 32px;
  }
}



.main-nav {
  
  &__ul {
    display: flex;
    align-items: center;
  }
  
  &__item 
  {
    font-size: 1.2rem;
    color: #8E8E93;
    cursor: pointer;
    transition: $--transition;
    
    &:hover {
      color: #8E8E93;
    }
    
    &:not(first-child) {
      margin-left: 24px;
    }
    
    // HOVER
    //&--button {
    //   border: 1px solid $--color-primary;
    //   background-color: $--color-primary;
    //   padding: 6px 12px;
    //   border-radius: 4px;
    //   color: white;
    //   margin-left: 48px !important;
      
    //   &:hover {
    //     color: $--color-grey;
    //     background-color: white;
    //   }
    // }
  }
  
  @media screen and (max-width: 899px) {
    visibility: hidden;
    width: 0;
    transition: $--transition-mid;
    position: fixed;
    top: 0;
    right: -50vw;
    height: 100vh;
    box-shadow: $--shadow;
    z-index: 9;
    
    
    &__ul {
      flex-direction: column;
      justify-content: center;
      height: 100%;
      width: 100%;
      

      li {
        margin: 0 0 32px 0 !important;
      }
    }
    
    &.visible {
      width: 50%;
      background: white;
      right: 0;
      visibility: visible;
      transition: $--transition-lg;
    }
  }
  @media screen and (max-width: 575px) {
    &.visible {
        width: 100%;
    }
  }

}

.mobile-menu-button {
  display: none;
  cursor: pointer;
  span {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 2px;
    margin-bottom: 6px;
    background: #8E8E93;
    transition: $--transition-mid;
  }
  
  @media screen and (max-width: 899px) {
    display: flex;
    flex-direction: column;
    z-index: 9;
  }
  
  &:not(.active):hover {
    span:first-child {
      transform: rotate(-36deg);
      width: 18px;
      top: 2px;
    }
    span:last-child {
      transform: rotate(36deg);
      width: 18px;
      bottom: 2px;
    }
  }
  
  &.active {

    span:first-child {
      transform: rotate(-45deg);
      top: 8px;
    }
    span:last-child {
      transform: rotate(45deg);
      bottom: 8px;
    }
    span:nth-child(2) {
      opacity: 0;
    }
  }

}

@media screen and (max-width: 1200px) {
    .hero {
        padding: 60px 32px 0 32px;
    }
    .readmorebutton {
        width: 240px;
    }
    .project-text {
        padding: 30px 32px 0 32px;
    }
    p {
        font-size: 14px;}
    .arrowwrapper {
            height: 160px;
        }
}

.nextlink {
    padding-top: 1vh;
    text-align: center;
    text-decoration: none;
    color: #F7CCC8;
    font-weight: 700;
    cursor: pointer;
}

